/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 .main-menu {
 	 a{
 	 	font-size 12px

 	 }
 }
 .phone{
 	 		font-size 14px!important
 	}
 .tarif-price{
 	font-size 48px 
 }
}
