/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-notebookLine{
		 flex-flow: column;
	}
	.header-notebookLine-element{
		width 60%
		margin 20px 0px
	}
	.header-notebookLine-text{
		width 100%
	}
	.content p{
		width 100%
	}
	.changes-element{
		width 100%
		margin 20px auto
		height 180px
	}
	.icon-row-fourItems-elemet{
		width 100%
	}
	.slogan-block-title{
		font-size 36px
	}
	.footer-line{
		font-size 36px
	}
	.play{
		margin-right 0px
		border-top: 30px solid transparent;
    border-left: 50px solid #1B659A;
    border-bottom: 30px solid transparent;
	}
	.tarif-element{
	 	width: 100%;
		margin: 20px auto;
		height 220px
	 }
	.get-start-form-cont{
		width 100%
	}
	.tarif-price{
 	font-size 48px 
 }
}