/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 .fa-bars{
 	display inline-block
 }
 .main-menu-element{
 	display none
 }
 .main-menu{
 		justify-content: space-between;
    align-items: center
    display: flex;
 }
 .main-menu-border{
 	box-shadow 2px 0px 4px #066F94
 	margin-top 25px
 }
 .header-arrowImg{
 	width 100%
 }
 .header-top-text-phone{
 	display block
 }
 .header-top-text{
 	margin-bottom 10px
 }
 .header{
 	padding-top 30px
 }
 .changes-element-title{
 	font-size 20px
 }
 .changes-element-text{
 	font-size 12px
 } 
 .logo-company{
 	margin-top 30px
 }
 .form-block-element-left-text-item{
 	font-size 12px
 }
 .slogan-block{
 		justify-content: space-between;
 }
 .slogan-block-element{
 	flex-basis 345px
 }
 .header-notebookLine{
 	margin-bottom 20px
 }
 .main-menu-hidden{
 	a{
 		display block!important
 	}
 }
 .get-start-form-cont{
 	width 65%
 }
 
 .tarif-text{
 	font-size 12px
 }
 .tarif-element{
 	height 290px
 }
 .tarif-button{
 	button{
 		font-size 12px
 	}
 }
 .tarif-element{
 	margin-bottom 20px
 }
}